@model SHUBHAM_PRODUCT.Models.ProductModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <table class="table">
        <tbody>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CategoryId)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.CategoryId)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Quantity)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TypeId)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.TypeId)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <td class="col-sm-10">
                    <img src="@Url.Content(Model.Image)" alt="Product Image" class="img-fluid" style="max-height: 150px; max-width: 100%;" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
</div>